<div class="room">
  <div class="name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="room-list">
  <div class="room-name">
    <div class="room-number">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room-name">
    <div class="room-number">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>

